.navbar {
  display:flex;
  justify-content: space-between;
  align-items:center;
  background-color: grey;
  padding: 14px 40px;
}
.menu a{
  text-decoration: none;
  color:white;
  font-size: 17px;
  padding: 10px 16px; 
  margin-left: 10px; 
  border-radius: 6px; 
  transition: 0.3s;
}
• menu a:hover {
background-color: •white;
color:#4682B4;
}
h2{
  color:#4682B4

}

.nav-link.active {
  background-color: #4682B4;
}
