.navbar {
  background-color: grey;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #4682B4;
}
h2{
  color:#4682B4

}

